<nav class="navbar navbar-default" data-spy="affix">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">Baltimore Out</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#"><img class="nav-icons" src="{{ site.baseurl }}/icons/coffee.svg" class="img-rounded" alt="Coffee Break">Coffee Break</a></li>
        <li><a href="#"><img class="nav-icons" src="{{ site.baseurl }}/icons/food.png" class="img-rounded" alt="Getting Hungry">Getting Hungry</a></li> 
        <li><a href="{{ site.baseurl }}/night"><img class="nav-icons" src="{{ site.baseurl }}/icons/drink.png" class="img-rounded" alt="Night Out">Night Out</a></li> 
        <li><a href="{{ site.baseurl }}/contact">Get in touch!</a></li> 
      </ul>
    </div>
  </div>
</nav>