// Add bootstrap variables here and overide the default ones. Import the ones not ovverided from "bootstrap/_variables.scss" files

// Navigation bar
//$navbar-default-bg: #111;

$border-radius-base: 0px;
$body-bg: #f1f1f1;
$panel-bg: $body-bg;
$text-color: rgba(0, 0, 0, 0.7);
$brand-primary: $text-color;

@import "bootstrap/variables";